body {
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Staatliches', 'cursive' !important;
  background-color: aliceblue !important;

}

a {
  text-decoration: none !important;
  color: black !important;
}

ul {
  padding: 0 !important
}

li {
  list-style-type: none;
}

.alert-container {
  position: relative;
}

#close-alert {
  position: absolute;
  top: 0px;
  right: 0px
}

label {
  display: block;
}

.logo {
  background-color: black;
  color: white;
  margin: 0;
}

nav {
  background-color: rgba(221, 164, 191, 0.74);
  width: 100%;
}

.app-container {
  background-color: aliceblue;

}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.holder {
  display: inline;
}

.right-side {
  justify-self: stretch;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.all-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.all-items-single-container {
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 1em;
  border-style: solid;
  border-radius: 1px;
  margin: 2px;
  background-color: white;
}
.outer-image-container {
  position: relative;
}
.inner-image {
  position: absolute;
  top: 5em;
  left: 7em;
}
.confirmation-container {
  display: flex;
  flex-direction: row;
}

.add-to-cart {
  display: inline-flex;
}

/* Cart Item */

.cart-item {
  display: inline-flex;
  border-style: solid;
  border-radius: 1px;
  width: 80%;
  margin-left: 1em
}

.cart-right input {
  width: 3em;
}

.cart-item button {
  height: 2em;
}

.cart-item img {
  margin-left: 2em;
}

.cart-right {
  margin: auto
}

/* Cart */

.your-cart {
  margin-left: 1em;
}

.cart-container {
  display: inline-flex;
  width: 100%;

}

.cart-right-side {
  /* display: inline-flex; */
  width: 35%
}

.cart-right-side button {
  height: 3em;
  width: 18em;
}

.cart-left-side {
  width: 65%
}

.floating-total {
  position: fixed;
  top: 7em;
  margin: auto
}

/* Checkout */

.checkout-item {
  display: inline-flex;
  margin: 10px 3px;

}

.checkout-item div {
  margin-right: 3em;
  width: 8em;
}

.checkout-container {
  background-color: white;
  border-style: solid;
  border-radius: 1px;
  width: 60%;
  margin: auto
}

.checkout-container button {
  margin: 2px 40%
}


/* Confirmation */


.confirmation-item {
  display: inline-flex;
  margin: 10px 3px;

}

.confirmation-item div {
  margin-right: 3em;
  width: 8em;
}

.confirmation-container {
  display: block;
  background-color: white;
  border-style: solid;
  border-radius: 1px;
  width: 60%;
  margin: auto
}

/* Single Item */

.single-item-container {
  background-color: white;
  border-style: solid;
  border-radius: 1px;
  width: 30%;
  margin: 2em auto;
}

.single-item-content {
  text-align: center;
}




