body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Staatliches', 'cursive';
}

a {
  text-decoration: none;
}

label {
  display: block;
}
.logo {
  background-color: black;
  color: white;
  margin: 0;
}

nav {
  background-color: rgba(221, 164, 191, 0.74);
  width: 100%;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.holder {
  display: inline;
}

.right-side {
  justify-self: stretch;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-item-container {
  display: flex;
}

.add-to-cart {
  display: inline-flex;
}
